body 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container
{
	margin: 0;
	padding: 1px;
	color: #fff;
	background: #000;
	text-align: center;
}

/*updated virsion number 0.2*/
/*updated virsion number 0.3*/
/*updated virsion number 0.4*/



/*class-2 virsion is 0.5*/
/*class-2 virsion is 0.6*/

/*class-2 virsion is 0.7*/
/*class-2 virsion is 0.8*/

