body 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container
{
	margin: 0;
	padding: 1px;
	color: #fff;
	background: #000;
	text-align: center;
}

/*updated virsion number 0.2*/

/*updated virsion number 0.3*/

